header {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  box-sizing: border-box;
}

header .logo {
  height: 100%;
  width: 150px;
  margin-left: 20px;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px 40px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  box-sizing: border-box;
  color: #FF5A5F;
  font-size: 20px;
  font-weight: bold;
}
